.fullGrid{
    /* position: absolute;
    left: 50%;
    top: 50%; */
    /* transform:translate(-50%,-50%) */
    
}
.pic{
    height: 80px;
    display: inline-block;
    margin: auto;
}
.gridBorder{
    border: solid;
    border-color: rgba(0, 0, 0, 0.16);
    text-align: center;
}
.words{
    /* font-size: 12pt; */
    
}