.pic{
    max-height: 50vh;
    max-width: 350pt;
    object-fit: cover;
    box-sizing: border-box;
}
.signUp{
    /* margin-top: 51.5pt; */
    width: 250pt;
    height: 48pt;
    margin-bottom: 27pt;
    background-color: rgb(80, 210, 194);
    font-size: 16pt;
    color: white;
    border-radius: 50pt;
  }