.verifyUper{
    background-image: url('../pics/willing.png');
    background-position: center;
    height: 100px;
    display: inline-block;

    object-fit: cover;
  object-fit: cover;
  height: 397pt;
    
}

.centerText{
  display: block;

}
.container{
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: grid;

}
.inputsDown{
 text-align: left;
 margin-bottom: 10px;
 margin-left: 10px;
}
.inpAll{
  margin-bottom: 10px;
  font-size: 22pt;
  width: 90%;
}
.btn{
  font-size: 16pt;
  color: white;
  border-radius: 50pt;
  background-color: rgb(80, 210, 194);
  width: 327pt;
  border-radius: 50pt;
  margin: auto;


}