.App {
  text-align: center;
  justify-content: center;
  object-position: center;
}

.picUp {
  background-image: url('./pics/willing.png');
  width: 374pt;
  height: 397pt;
  background-position: center;
  object-fit: cover;
  display: inline-block;
  
}
.signUp{
  margin-top: 51.5pt;
  width: 327pt;
  height: 48pt;
  background-color: rgb(80, 210, 194);
  font-size: 16pt;
  color: white;
  border-radius: 50pt;
}
.words{
  width: 327pt;
  line-height: 19pt;
  height: 40pt;
  margin-top: 15pt;
}
/* .sents{
  width: 100%;
  height: 100%;
} */
.halfDown{
  display: inline-block;
}

.downWord{
  margin-top: 74pt;
}